// ModalAppPet.scss

.modal-app-pet {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 4;

    .modal-content {
        display: flex;
        flex-direction: column;
        min-width: 580px;
        background-color: #FFFFF3;
        padding: 16px;
        border-radius: 8px;
    }

    .modal-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .modal-title {
        font-size: 18px;
        font-weight: bold;
    }

    .app__field {
        margin-top: 8px;
        width: 100%;
    }

    .modal-close-button {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #454545;
        cursor: pointer;
    }

    .register {
        background-color: #44B9FF;
        padding: 16px 32px;
        color: #fff;
        font-weight: 700;
        transition: .3s;

        border-radius: 4px;

        align-self: center;
    
        &:hover {
            opacity: .8;
        }
    }
}