.app__petcard {
    width: 250px;
    height: 350px;
    background-color: #FFFFF3;
    border: .5px solid #454545;
    padding: 16px;

    border-radius: 8px;

    cursor: pointer;

    img {
        border-radius: 4px;
    }

    .app__petcard-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        h2 {
            font-size: 24px;
        }
    }

    .app__petcard-footer {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }
}