.dashboard {
    display: flex;
    height: 100vh;

    .sidebar {
        width: 200px;
        background-color: #FFFFF3;
        color: #454545;
        padding: 20px;
        display: flex;
        flex-direction: column;

        border-right: 1px solid #454545;
        align-items: center;

        .ong-info {
            margin-bottom: 20px;

            .ong-logo {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-bottom: 10px;
            }

            .ong-name {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .logout {
            cursor: pointer;
        }
    }

    .main-content {
        flex: 1;
        padding: 20px;

        .header {
            margin-bottom: 20px;

            .add-pet-button {
                background-color: #3498db;
                color: #fff;
                padding: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;

                svg {
                    margin-right: 5px;
                }
            }
        }

        .pet-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;

            // Estilize o PetCard conforme necessário
            .app__petcard {
                border: 1px solid #ddd;
                padding: 15px;
                border-radius: 5px;
            }
        }
    }
}